/* icomoon */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hqxfrq');
  src:  url('../fonts/icomoon.eot?hqxfrq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hqxfrq') format('truetype'),
    url('../fonts/icomoon.woff?hqxfrq') format('woff'),
    url('../fonts/icomoon.svg?hqxfrq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}

/* Overrides */
h1 {
  font-weight: 700;
  margin-left: -4px;
  margin-bottom: 36px;
}
#home h1 {
  font-size: 64px;
  line-height: .8;
  margin-bottom: 12px;
}
h1 .green {
  font-size: 40px;
  font-weight: 700;
}
h2 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
h4 {
  font-weight: 700;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 9px;
  line-height: 1.4;
}
.description {
  margin-bottom: 36px;
}
#home h2 {
  margin-top: 18px;
}
#home h3,
#portfolio h2 {
  margin-top: 0;
}
.contact, 
.recent {
  padding-top: 16px;
  padding-bottom: 16px;
} 
.contact h3 {
  display: inline-block;
  margin: 0 16px 0 0;
}
.contact a {
  display: inline-block;
}
.homeSection {
  padding-top: 16px;
  padding-bottom: 16px;
  min-height: 280px;
}
hr {
	border-top: 1px solid #ddd;
}
.green {
	color: #690;
}
.gray1 {
  background-color: #F2F2F2;
}
.gray2 {
  background-color: #757575;
  color: #fff;
}
.gray3 {
  background-color: #616161;
  color: #fff;
}
.gray4 {
  background-color: #4b4b4b;
  color: #fff;
}
.gray5 {
  background-color: #333;
  color: #fff;
}

.gray2 a, 
.gray3 a,
.gray4 a,
.gray5 a {
 color: #FFF2DA;
}
.noPadding {
  padding-right: 0;
}
.bar {
  border-top: 1px solid #ccc;
  padding-bottom: 36px;
}
.project-image {
  width: 375px;
  height: 188px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#portfolio .gray1,
#process .gray1,
#resume .gray1,
#about .gray1 {
  padding: 24px 0;
}
strong.semi {
  font-weight: 600;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus{
	color: #333;
}
.contact {
	font-size: 18px;
	font-weight: 300;
}
.contact a {
	display: inline-block;
	margin-right: 16px;
}
.footer {
	padding-bottom: 16px;
  padding-top: 16px;
}
.footer a {
	display: inline-block;
	padding: 8px 2px;
	margin-right: 14px;
}
.footer a.active {
	color: #555;
}
.footer .crp {
  font-size: 14px;
	display: inline-block;
	margin-left: 15px;
}
.block {
  margin-bottom: 20px;
}
.resume-jobs ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}
.resume-jobs li:before {
  content: "\00BB \0020";
}
.resume-jobs li ul {
  padding-left: 26px;
  list-style-type: circle;
}
.row-floating {
  position: relative;
}
.resume-jobs li ul li:before {
  content: "";
}
.portfolio .projects .row {
  margin-top: 30px;
  margin-bottom: 50px;
}
.portfolio>.row {
  margin-bottom: 24px;
}
.next-prev {
  margin-top: 36px;
}
.project-thumb img {
  border: 1px solid #f2ac66;
  margin-top: 24px;
}
.project-description {
  margin-bottom: 4px;
}

.filter-button-group button {
  text-align: left;
  border: 0;
  width: 100%;
  background-color: #fff;
  color: #c60;
  padding: 8px 6px;
  font-size: 14px;
}
.filter-button-group button:hover {
  color: #804000;
}

.filter-button-group button.is-checked,
.filter-button-group button:active {
  background-color: #eee;
  color: #555;
}
.filter-button-group button:focus {
  outline: none;
}
.grid-item-content {
  font-size: 14px;
}
.resume-jobs h6 {
  font-weight: 500;
  margin: 16px 0 6px 6px;
}

@media only screen and (max-width : 1200px) {
  .project-image {
    height: 195px;
    width: 389px;
  }
  .homeSection {
    min-height: 304px;
  }
}
@media only screen and (max-width : 992px) {
  #resume h1 {
    font-size: 72px;
  }
  #portfolio .gray1 {
    padding: 16px 0 8px;
  }
  .project-image {
    height: 181px;
    width: 360px;
  }
	.contact a {
		display: inline-block;
	}
  .project-description {
    display: none;
  }
  .homeSection {
    min-height: 348px;
  }
}
@media only screen and (max-width : 768px) {
  h1 {
    font-size: 80px;
    margin-top: 12px;
    margin-bottom: 32px;
  }
  h1 .green {
    font-size: 48px;
    font-weight: 700;
    padding-left: 0;
  }
  #resume h1 {
    font-size: 64px;
  }
  #home h3 a {
    display: inline-block;
    padding-top: 16px;
  }
  #portfolio h2 a {
    display: inline-block;
    padding-top: 16px;
  }
	.navbar-brand  {
		font-size: 16px;
  }
  .project-image {
    height: auto;
    width: 100%;
  }
  .readOn {
    display: inline-block;
    margin-bottom: 16px;
  }
  .homeSection {
    min-height: auto;
  }
  .noPadding {
    padding-right: 15px;
  }
}
@media only screen and (max-width : 630px) {
  h1 {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 34px;
  }
  #home h1 {
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  #home h1 .green {
    font-size: 20px;
    font-weight: 700;
    padding-left: 0;
  }
  #resume h1 {
    font-size: 34px;
  }
  h2 {
		font-size: 24px;
  }
  h3 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .projects h2 {
    margin-top: 16px;
  }
  .projects-nav {
    display: none;
  }
  .navbar-brand  {
		font-size: 12px;
  }
  .contact {
    font-weight: 300;
  }
	.contact a {
		display: block;
    margin: 4px 0;
	}
 
}